* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

main {
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.instruction {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

h2 {
  font-size: 8rem;
}

.scroll {
    display: none;
    text-align: center;
}

h3 {
    font-size: 2rem;
}

.hand {
    font-size: 2rem;
    animation: handMove 1s infinite forwards;
}

@keyframes handMove {
    0% {
        transform: translate(0,0);
    }

    70% {
        transform: translate(0, 1rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

.section-1 {
  color: hsl(19, 97%, 51%);
  background-color: hsl(44, 100%, 52%);
}

.section-2 {
  color: hsl(44, 100%, 52%);
  background-color: hsl(265, 83%, 57%);
}

.section-3 {
  background: url("/textures/jean-pierre-pernaut.jpeg") center / cover no-repeat;
}
